
*.aps
*.bak
*.cache
*.coverage
*.dll
*.ilk
*.log
*.ncb
*.nupkg
*.orig
*.pch
*.pdb
*.sbr

#Ignore Azure Publish Profiles
*.pubxml
*.azurePubxml

#Ignore files built by Visual Studio
*.suo
*.user
*.vspscc
*.vssscc
*.vssscc

*TestResults*
*_i.c
*_p.c

#ignore thumbnails created by windows
Thumbs.db

[Bb]in/
[Oo]bj/
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
packages/
packages/*/

Solution/*/
*.coverage
*/Coverage Reports/*
*.DotSettings
**/_PublishedWebsites/**
