.slideshow {
    width: 570px;
    margin-right: auto;
    margin-left: auto;
    *zoom: 1;
}

    .slideshow:before,
    .slideshow:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .slideshow:after {
        clear: both;
    }

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:570px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

div.slide {
	width:570px;
	height:270px;
	display:block;
}

/* Previous / Next */

#slides {
    display: none;
}

    #slides .slidesjs-navigation {
        margin-top: 3px;
    }

    #slides .slidesjs-previous {
        margin-right: 5px;
        float: left;
    }

    #slides .slidesjs-next {
        margin-right: 5px;
        float: left;
    }

.slidesjs-pagination {
    margin: 6px 0 0;
    float: right;
    list-style: none;
}

    .slidesjs-pagination li {
        float: left;
        margin: 0 1px;
    }

        .slidesjs-pagination li a {
            display: block;
            width: 13px;
            height: 0;
            padding-top: 13px;
            background-image: url(/scripts/slidesjs/pagination.png);
            background-position: 0 0;
            float: left;
            overflow: hidden;
        }

            .slidesjs-pagination li a.active,
            .slidesjs-pagination li a:hover.active {
                background-position: 0 -13px;
            }

            .slidesjs-pagination li a:hover {
                background-position: 0 -26px;
            }

#slides a:link,
#slides a:visited {
    color: #333;
}

#slides a:hover,
#slides a:active {
    color: #9e2020;
}

/* Caption */

.caption {
    z-index: 500;
    position: absolute;
    bottom: -160px;
    left: 0;
    height: 30px;
    padding: 0 0 0 0;
    background: #000;
    background: rgba(0,0,0,.5);
    width: 570px;
    font-size: 1.3em;
    line-height: 1.33;
    color: #fff;
    border-top: 1px solid #000;
    text-shadow: none;
}
