/* https://marcarea.com/tuto/ */

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
}

#menu li {
    float: left;
    margin: 0;
    padding: 0;
    border: 0;
}

#menu .sub-menu {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
}
#menu .sub-menu li {
    float: none;
    margin: 0;
    padding: 0;
    border: 0;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
}

#menu li a:link, #menu li a:visited {
    display: block;
    height: 1%;
    color: #FFF;
    margin: 0;
    padding: 4px 8px;
    text-decoration: none;
}
#menu li a:hover { background-color: #F2462E; }
#menu li a:active { background-color: #5F879D; }

#menu .sub-menu li a:link,
#menu .sub-menu li a:visited {
    display: block;
    color:  #76979b;
    margin: 0;
    border: 0;
    text-decoration: none;
    background: transparent url("/images/menu.png") repeat;
}
#menu .sub-menu li a:hover {
    background-image: none;
    background-color: #F2462E;
}

#menu li:hover > .sub-menu { display: block; }
