<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="smtp.host.name" value="smtp.mandrillapp.com"/>
    <add key="smtp.host.port" value="587"/>
    <add key="smtp.mail.from" value="no-reply@chateaudeteillan.com"/>
    <add key="smtp.mail.to" value=""/>
    <add key="smtp.auth.username" value="" />
    <add key="smtp.auth.password" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Accueil.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>